*,
*:after,
*:before {
	
    box-sizing: border-box;
	

}


a {
	
	color: black;
	
	
}


/* Fix unstyled navigation blink */
ul {
	
	list-style-type: none;
	
      columns: 5;
	
    -webkit-columns: 5;
	
    -moz-columns: 5;
	
	padding: 40px 20px;
	
	margin: 0;
	
	text-indent: 20px;
	

}



ul li {
	
	padding: 5px;
	
	margin: 5px;
	
	font-size: 16px;
	

}



nav a:hover {
	
	color: #F0230C;
	
	
}



*:focus {
	
    outline: 0;
	

}



body {
	
	margin: 0;
	
	padding: 0;
	
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	
	overflow-x:hidden;
	

}



#container {
	
	margin: 80px 0 0;
	
	display: inline;
	
	float: left:;
	

}



.header {
	
    position: fixed;
	
    top: 80px;
	
    height: 120px;
	
    width: 100%;
	
    background: #F7693E;
	
    color: #eee;
	
    z-index: 0;
	
	border-bottom: 1px solid #666;
	

}


nav a {
	
	color: #fff;
	
	text-decoration: none;
	
	font-size: 16px;
	
	transition: color 0.5s ease;
	

}


	
/* generic table styling */


.tableTitle {
	
font-size: 14px;
	
text-align: center;
	
font-family: 'Droid Sans Mono', sans-serif;
	
display: inline;
	
padding-left: 5%;
	

}



.rbnorway {
	

border: 5px solid #DE1E09;
	
text-align: center;
	
font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	
background: yellow;
	
width: 100%;
	

}


footer {
	
	width: 80%;
	
	text-align: center;
	
	margin: 0 auto;
	
	
}


	
.logo {
	
	position: fixed;
	
	top: 0;
	
	left: 0;
	
	height: 80px;
	
	width: 80px;
	
	z-index: 999;
	
	background: #222;
	
	cursor: pointer;
	
	
}


.logo img {
	
	height: 100%;
	
	
}



#navicon select {
	
-moz-appearance: none;
	
-webkit-appearance: none;
	
appearance: none;
	

}



#navicon {
	
width: 35%;
	
background: none repeat scroll 0% 0% #222;
	
color: #FFF;
	
text-decoration: none;
	
text-align: left;
	
padding-left: 5%;
	
font-family: "Volkhov",serif;
	
text-transform: uppercase;
	
font-style: italic;
	
overflow: hidden;
	
transition: background-color 0.5s ease 0s;
	



}




#top {
	
	position: fixed;
	
	bottom: 20px;
	
	right: 20px;
	
	height: 36px;
	
	width: 36px;
	
	background: url(img/arrow-up.png) no-repeat center center;
	
	cursor: pointer;
	
	opacity: 0.3;
	
	transition: opacity 0.5s ease;
	

}



.show {
	
	display: none;
	

}



#dataTable {
	
	display: table;
	
	width: 100%;
	
	margin-left: 3px;
	
	float:left;
	
	overflow-x: auto;
	
	overflow-y: auto;
	

}



.attackRow {
	
	border: 1px solid black;
	
	display:table-row;	

}


.dataRow {
	
    display: table-cell;
	
    border: 1px solid #000;
	

    width: 14.2%;
	
    font-size: smaller;
	
    height: 60px;
	
    padding-left: 3px;
	


}

.dataHeader{
	display:table-header-group;
}
 


.NA {
	
	background-color: #BABABA;
	
	text-align: center;
	
	font-weight: bold;
	
	padding-top: 15px;
	

}



#name {
	
	text-align: center;
	
	font-weight: bold;
	
	font-size: 24px;
	
	font-family: 'Droid Sans Mono', sans-serif;
	


}



.titleRow {

	border-top-width: 3px;
	
	text-align: center;
	
	font-weight: bolder;
	
	display:table-cell;
	
	height: 25px;
	

}



.rowStart {
	
	border-left-width: 3px;
	

}



.rowEnd {
	
	border-right-width: 3px;
	

}


.realUnsafe {
	
	background-color: #ED3E3E;
	

}



.unsafe {
	
	background-color: #F0C2C2;
}

#tcLogo {
	
	float: left;
}

#headContainer {
	
	height: 197px;
	
	width: 399px;
	
	background: url(/images/TClogo.png);
	
	background-repeat: no-repeat;
	
	background-size: auto;
	
	overflow: hidden;
	
	margin: auto;
	
}

.gifContainer {
	display: none;
}

.gif {
	position: absolute;
	margin-left: 13%;
}
.gifCell {
	background-color: #99D6FF;
}