.html {
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 52%, #dcdbff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(52%,#ffffff), color-stop(100%,#dcdbff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 52%,#dcdbff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 52%,#dcdbff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 52%,#dcdbff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 52%,#dcdbff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dcdbff',GradientType=0 ); /* IE6-9 */
height:100%;
}

.rbnorway {
border:none;
background:none;
font-size:26px;
color:#121212;
font-family: 'Impact', 'Charcoal', sans-serif;
text-transform:uppercase;
margin-top:15px;
margin-bottom:15px;
text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

select {
width: 100%;
text-align: center;
height: 45px;
background: #444;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
font-family: 'Verdana', 'Geneva', sans-serif;
font-style: normal;
padding-left: 20px;
text-transform: none;
font-size: 22px;
-webkit-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    2px 2px 2px 0px rgba(50, 50, 50, 0.75);
box-shadow:         2px 2px 2px 0px rgba(50, 50, 50, 0.75);
}

#name{
font-size:55px;
color:#5F0000;
margin-bottom:10px;
text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
font-family: 'Impact', 'Charcoal', sans-serif;
}

#dataTable{
margin-left:0px;
}

.contentWrapper{
width:98%;
text-align: center;
margin: 0 auto;
}